<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Feed</title>
  </head>
  <body>
    <h1><%= userName %>'s Feed</h1>
    <ol>
      <% feedComments.forEach(comment => { %>
      <li>
        <%= comment.comment %> -
        <strong><%= comment.createdBy.username%></strong> <br />created on - <%=
        comment.dateOnly%>
      </li>
      <% }); %>
    </ol>
    <a href="/comment?username=<%=userName%>">Add new comment</a>
    <a href="/feed/<%=userName%>">Show Feed</a>
  </body>
</html>
